/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
h1 {
    font-family: 'cinzel', serif;
    font-weight: normal;
}

h2 { 
    font-weight: normal;
}

h3 {
    /* font-weight: normal; */
}
p {
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 100%;
    margin:auto;
    overflow:hidden;
}

.container2 {
    width:100%;
    margin:auto;
    overflow:hidden;
    position: relative;
}


.fade-in {
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
            /* END GLOBAL */

            /* HOMEPAGE BACKGROUND*/
.homebackground {
    background-image: url(img/type2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.subpagebackground {
    background-image: url(img/desk2.jpg);  
    background-repeat: repeat;
    position: relative;  
    z-index: 1;
}
.subpagebackground::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
            /* HEADER - HOMEPAGE */

nav{
    height: 100px;
    margin-top: 1.5em;
}

nav h1 {
    display: inline;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
    margin-left: 25px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

nav h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    font-family: 'quicksand', sans-serif;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    font-size: 1.1em;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    transition: text-shadow .3s;
}

nav ul li a:hover {
        font-weight: normal;
        color: white;
        padding-bottom: 5px;
        text-shadow: 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white;
        transition: 0.3s;
}

nav .active {
    font-weight: bold;
}

label #sign-one,
label #sign-two{
    font-size: 35px;
    color: #fff;
    float: right;
    line-height: 15px;
    margin-top: 15px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu{
    display: none;
}

@media (max-width: 768px){
    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        top: 120px;
        left: -100%;
        display: flex;
        flex-direction: column;
        padding: 15% 0;
        text-align: center;
        transition: .75s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size: 2em;
        font-family: 'cinzel', serif;
    }
    
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
    #res-menu:checked ~ label #sign-two{
        display: block;
    }
}

@media (max-width: 500px){
    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        top: 120px;
        left: -100%;
        display: flex;
        flex-direction: column;
        padding: 15% 0;
        text-align: center;
        transition: .75s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size: 1.5em;
        font-family: 'cinzel', serif;
    }
    
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
    #res-menu:checked ~ label #sign-two{
        display: block;
    }
}
            /* HERO SECTION */

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section h1 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-bottom: 1em;
}
.hero-section p {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: .15em;
}
.hero-section .button {
    color: white;
    align-self: center;
    margin: 3em 0 11em 0;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 60px;
    border: 2px white solid;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
    transition: .5s;
}

.hero-section .button:hover {
    background-color: white;
    border: 2px white solid;
    color: black;
    transition: .5s;
}


@media all and (max-width: 800px) {
    .homebackground {
       background-size: cover;
       background-position: right center;
    }

    .hero-section h1 {
        font-size: 1.75em;
        margin-bottom: 50px;
    }

    .hero-section p {
        font-size: 1.5em;
    }
}

         /* END HERO SECTION */

         /* ABOUT SECTION */

.about-wrapper {
    margin: 0em auto;
    width: 100%;
} 

.about-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: 2em;
    font-family: 'cinzel, serif';
    margin-bottom: 1em;
}

.about-img img {
    width: 100%;
    display: block;
}

.about-img {
    background-image: url(img/susan3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}
.about-text {
    background-color: white;
    padding: 2em 1.5em;
}

.about-text h2 {
    color:#303131;
    font-size: 1.5em;
    padding-bottom: .5em;
    font-family: 'cinzel', serif;
    text-align: center;
}

.about-text p {
    color: #303131;
    font-size: 1.05em;
    letter-spacing: 1.25px;
    line-height: 1.5;
    padding-bottom: 1em;

    font-family: 'quicksand', sans-serif;
}

.aboutbutton {
    padding: 2em 0;
    text-align: center;
}
.about-text .button {
    color: #303131;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 30px;
    border: 2px solid #303131;
    border-radius: 0px;
    background-color: white;
    letter-spacing: 3px;
    transition: .5s;
}
.about-text .button:hover {
    background-color: #303131;
    color: white;
    transition: .5s;
}

@media all and (min-width: 766px) {
    .about-wrapper {
        margin: 0em auto;
        width: 100%;
    } 
    .about-img img {
        width: 100%;
        display: block;
    }
    
    .about-img {
        background-image: url(img/susan3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -50px;
        height: 630px;
        width: 100%;
    }
    .about-text {
        background-color: white;
        padding: 2em 5em;
    }
    
    .about-text h2 {
        color:#303131;
        font-size: 1.5em;
        padding-bottom: .5em;
        font-family: 'cinzel', serif;
    }
    
    .about-text p {
        color: #303131;
        font-size: 1.05em;
        letter-spacing: 1.25px;
        line-height: 1.5;
        padding-bottom: 1em;
        font-family: 'quicksand', sans-serif;
        
    }
}

@media all and (min-width: 1000px) {
    .about-wrapper {
        width: 1100px;
        height: 805px;
        display: flex;
        margin-bottom: 5em;
    } 
    .about-img img {
        width: 100%
    }
    
    .about-img {
        background-image: url(img/susan3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 805px;
        float: left;
    }
    .about-text {
        background-color: white;
        padding: 2em 3em;
        width: 50%;
        height: 805px;
        float: right;
    }
    
    .about-text h2 {
        color:#303131;
        font-size: 1.5em;
        padding-bottom: .5em;
        font-family: 'cinzel', serif;
    }
    
    .about-text p {
        color: #303131;
        font-size: 1em;
        letter-spacing: 1.25px;
        line-height: 1.5;
        padding-bottom: 1.5em;
        font-family: 'quicksand', sans-serif;
    }
    .aboutbutton {
        margin-top: -1.5em;
        margin-right: -2em;
        padding: 0 0;
        text-align: right;
    }
}
            /* SERVICES */

.service-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: 2em;
    font-family: 'cinzel, serif';
    margin-bottom: 1em;
}
.services-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    width: 100%;
    padding: .5em;
    background-color: white;
    margin-bottom: 0;
    transition: 1.5s;
}

.service img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 2em auto;
    transition: 1s;
}

.service h2 {
    margin-top: .5em;
    font-size: 1.75em;
    color: #333;
    font-family: 'cinzel', serif;
    text-align: center;
    font-weight: bold;
}

.service p {
    color: #333;
    font-family: 'quicksand', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1em;
}

.questioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.service-question {
    text-align: center;
    font-size: 2em;
    font-family: 'cinzel', serif;
    font-weight: bold;
    color: white;
}

.service-button {
    margin-top: 1em;
    margin-bottom: 30px;
}

.service-question span {
    font-weight: 300;
}
.service-button .button {
    color: white;
    align-self: center;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 60px;
    border: 2px white solid;
    border-radius: 0px;
    background-color: black;
    letter-spacing: 3px;
}

.service-button .button:hover {
    background-color: #333;
    border: 2px white solid;
    color: white;
    transition: ease-in-out .4s;
}

@media all and (min-width: 768px) {
    .service-title {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 300;
        font-size: 3em;
        font-family: 'cinzel, serif';
        margin-bottom: .5em;
    }
    .services-container {
        margin: 0 auto 1em;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .service {
        width: 47%;
        transition: 1.5s;
        padding: .5em;
        background-color: white;
        margin-bottom: 1em;
    }
    
    .service img {
        height: 100px;
        width: 100px;
        display: block;
        margin: 2em auto;
        transition: 1s;
    }
    
    .service h2 {
        margin-top: .5em;
        font-size: 1.75em;
        color: #333;
        font-family: 'cinzel', serif;
        text-align: center;
        font-weight: bold;
    }
    
    .service p {
        color: #333;
        font-family: 'quicksand', sans-serif;
        font-size: 1.2em;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 1em;
    }
}

@media all and (min-width: 1000px) {
    .service-title {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 300;
        font-size: 2em;
        font-family: 'cinzel, serif';
        margin-bottom: 1em;
    }
    .services-container {
        margin: 0 auto 5em;
        width: 100%;
        padding: 0 1em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .service {
        width: 31%;
        /* height: 650px; */
        transition: 1.5s;
        padding: .5em;
        margin: .5em;
        transition: 1s;
    }
    
    .service img {
        height: 100px;
        width: 100px;
        display: block;
        margin: 3em auto;
        transition: 1s;
    }
    
    .service h2 {
        transition: 1s;
    }
    .service:hover {
        cursor: pointer;
    }
    .service:hover img { 
        transform: rotateY(180deg) scale(1.5);
        transition-duration: 1s;
    }

    .service:hover h2 {
        padding: .5em 0;
        transition: 1s;
    }

    
    .service h2 {
        margin: .5em;
        font-size: 1.75em;
        color: #333;
        font-family: 'cinzel', serif;
        text-align: center;
        font-weight: bold;
    }
    
    .service p {
        color: #333;
        font-family: 'quicksand', sans-serif;
        font-size: 1.2em;
        line-height: 1.75;
        letter-spacing: 1.5px;
        text-align: center;
        margin-bottom: 1em;
    }
    
    
}
             /* PORTFOLIO */ 

.portfolio-title {
color: white;
font-family: 'cinzel', serif;
font-size: 2em;
font-weight: 300px;
text-align: center;
margin: 0em 0 1em;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

.flip-card {
background-color: transparent;
width: 30%;
height: 500px;
perspective: 800px;
margin: 0 1em 3em 1em;
}

.cardtext p {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
text-align: left;
padding: 1em 1em 0 1em;
}

.cardtext-source p {
font-family: 'Quicksand', sans-serif;
text-align: right;
padding: 1em 1em;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.9s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
cursor: pointer;
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
background-color: white;
color: black;
display: flex;
flex-direction: column;
}

.flip-card-front .cardimage5 {
    background-image: url(articles/5.png);
    width: 100%;
    height: 80%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage4 {
    background-image: url(articles/4.png);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage1 {
    background-image: url(articles/1.png);
    width: 100%;
    height: 80%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage2 {
    background-image: url(articles/2.png);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage3 {
    background-image: url(articles/3.png);
    width: 100%;
    height: 80%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage6 {
    background-image: url(articles/6.png);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-front .cardimage7 {
    background-image: url(articles/camp.png);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card-back {
background: url(img/type2.png);
background-size: cover;
background-position: center right;
color: white;
transform: rotateY(180deg);
display: flex;
justify-content: center;
align-items: center;
filter: brightness(1.5);
}

.flip-card-back .backbutton {
position: relative;
}

.flip-card-back .backbutton a {
text-decoration: none;
}

.flip-card-back .backbutton h1 {
border: 1px solid white;
color: white;
background-color: transparent;
padding: .25em 1.5em;
transition: 1s
}

.flip-card-back .backbutton h1:hover {
color: black;
background: white;
transition: 1s;
}

@media all and (max-width: 768px) {
    .portfolio-title {
        font-size: 3em;
    }
    
    .portfolio-container {
        margin-bottom: 1em;
    }
    .flip-card {
    background-color: transparent;
    width: 45%;
    height: 400px;
    perspective: 800px;
    margin: 0 1em 1.5em 1em;
    }
}

@media all and (max-width: 400px) {
    .portfolio-title {
        font-size: 2em;
    }
    
    .portfolio-container {
        margin-bottom: 1em;
    }
    .flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 800px;
    margin: 0 .5em 1em .5em;
    }
}

             /* TESTIMONIALS */ 

.testtitle {
    color: white;
    font-family: 'cinzel', serif;
    font-size: 2em;
    font-weight: 300px;
    text-align: center;
    margin: 0em 0 1em;
}
.testcontainer {
    margin: 0 auto 1em;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testcard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   width: 100%;
   margin-bottom: 1em;
   padding: 1.5em;
   background-color: white;
   outline-offset: -10px;
   outline: 2px solid black;
}

.testcard img {
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    height: 200px;
    width: 200px;
    margin: 1.5em 0;
}

.testcard h2 {
    font-family: 'quicksand', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    color: black;
    text-align: center;
    margin-bottom: .25em;
}

.testcard .line {
    height: 15px;
    width: 30%;
    border-bottom: 2px solid #4c5555;
}
.testcard h3 {
    font-family: 'cinzel', serif;
    font-size: 1.15em;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: .5em;
}

@media all and (min-width: 1000px) {
    .testcontainer {
        margin: 0 auto 5em;
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .testcard {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center; 
       width: 48%;
       padding: 1.5em;
       background-color: white;
       outline-offset: -10px;
       outline: 2px solid black;
    }
    
    .testcard img {
        border-radius: 50%;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        height: 200px;
        width: 200px;
        margin: 1.5em 0;
    }
   
    .testcard .line {
        height: 15px;
        width: 30%;
        border-bottom: 2px solid #4c5555;
    }
    .testcard h3 {
        font-family: 'cinzel', serif;
        font-size: 1.35em;
        letter-spacing: 1.5px;
        text-align: center;
        margin-top: .5em;
    }
}

            /* CONTACT */
.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3em;
    margin-bottom: 10em;
    color: white;
}

.contact-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.contact-message h1 {
    font-family: 'cinzel', serif;
    font-size: 3em;
    margin-bottom: .5em;
}

.contact-message h2 {
    font-family: 'quicksand', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.contact-box {  
    min-height: 400px; 
    display: flex;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;   
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1em;
}

.contact-info .infobox {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    border: 5px double white;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
}

.contact-info .icon {
    color: black;
    font-size: 1.5em;
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-info .text h2 {
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 1em;
    margin-bottom: .25em;
    color: white;
}

.contact-info .text p {
    font-size: 1.10em;
    padding-left: 1em;
    color: white;
}
.contact-form {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 1em 3em;
}

.contact-form h2 {
    font-size: 2em;
    font-weight: bold;
}
.contact-form .form-box {
    display: flex;
    flex-direction: column;
}

.contact-form .form-box .inputbox {
    width: 100%;
    margin-top: 1em;
}

.contact-form .form-box .inputbox span {
    font-size: 1.25em;
}
.contact-form .form-box .inputbox input, 
.contact-form .form-box .inputbox textarea 
    {
    font-size: 1em;
    width: 100%;
    padding: .5em 0;
    margin: .25em 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .form-box .inputbox textarea {
    margin-top: 1em;
    overflow: visible;
    font-family: inherit;
    font-size: 1em;
}

.contact-form .form-box .inputbox input:focus {
    border-bottom: 2px solid #1DA1F2;
    transition: .5s;
} 

.contact-form .form-box .inputbox textarea:focus {
    border-bottom: 2px solid #1DA1F2;
    transition: .5s;
}

.contact-form .form-box .inputbox input[type="submit"] {
    width: 100px;
    color: black;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    transition: .5s;
}

.contact-form .form-box .inputbox input[type="submit"]:hover {
    background: black;
    color: white;
    transition: .5s;
}

@media all and (max-width: 768px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1em;
        margin-bottom: 2em;
        color: white;
    }
    
    .contact-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0em;
    }
    
    .contact-message h1 {
        font-family: 'cinzel', serif;
        font-size: 3em;
        margin-bottom: .5em;
    }
    
    .contact-message h2 {
        font-family: 'quicksand', sans-serif;
        text-align: center;
        margin-bottom: 2em;
    }
    
    .contact-box {  
        min-height: 400px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;   
    }

    .contact-form {
        width: 100%;
    }
}


            /* END CONTACT PAGE */

            /* FOOTER */

footer {
    color: white;
    background-color: #080808;
    font-family: 'quicksand', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.footer-container h2 {
    font-size: 1.75em;
    font-family: 'cinzel', serif;
    font-weight: 300;
    color:floralwhite;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-contact h2 {
    margin: .75em 0 1em 0;
    text-align: center;
}
.footer-contact table {
    margin-bottom: 2.5em;
}

.footer-contact td img {
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.footer-contact td {
    font-family: 'quicksand', sans-serif;
    font-size: 1em;
}


.footer-contact .contact-button {
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    color:white;
    padding: .5em 4.8em;
    border: 1px solid white;
    width: 80%;
    text-align: center;
    transition: .5s;
}

.footer-contact .contact-button:hover {
    color: black;
    background-color: white;
    transition: .5s;
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-links h2 {
    text-align: center;
    margin: .75em 0 1em 0;
}
.footer-links li {
    margin-bottom: 10px;
    text-align: center;
}
.footer-links a {
    font-family: 'quicksand', sans-serif;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    transition: text-shadow .3s;
}
.footer-links a:hover {
    font-weight: normal;
    color: white;
    padding-bottom: 5px;
    text-shadow: 0 0 1.5px white, 0 0 1.5px white, 0 0 1.5px white;
    transition: 0.3s;
}

.footer-branding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-branding h2 {
    text-align: center;
    margin-bottom: .5em;
}
.footer-branding .brand-icon {
    border: 10px double black;
    border-radius: 50%;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1em;
}

.footer-branding .tag {
    margin-bottom: 10px;
    text-align: center;
}

.footer-branding .copy {
    font-family: 'quicksand', sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 10px 0;
}

.footer-branding .copy a {
    color: white;
    text-decoration: underline;
}
@media all and (max-width: 768px) {
    .footer-container {
        justify-content: space-around;
    }  
}

@media all and (max-width: 700px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-contact h2 {
        margin-bottom: 1em;
        letter-spacing: 5px;
    }
    .footer-contact table {
        margin-bottom: 1.5em;
    }
    
    .footer-links {
        margin-top: 4em;
    }

    .footer-links h2 {
        margin-bottom: .5em;
        letter-spacing: 5px;
    }

    .footer-branding {
        margin-top: 4em;
        align-items: center;
    }

    .footer-branding h2 {
        letter-spacing: 2px;
    }
}